                /* ==================== */
/*====================TEST TEST TEST====================*/
.card {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}
/*====================Universals====================*/
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
/* ::-webkit-scrollbar-thumb {
    background: #FF0000;
} */


/*====================Body====================*/
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -100;
}/* Body Background */
.fullscreen-bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}/* Background Video */
    @media (min-aspect-ratio: 16/9) {
        .fullscreen-bg-video {
        height: 300%;
        top: -100%;
        }
    }/* Aspect Ratio Media Query */
    
    @media (max-aspect-ratio: 16/9) {
        .fullscreen-bg-video {
        width: 300%;
        left: -100%;
        }
    }/* Aspect Ratio Media Query */
    @media (max-width: 767px) {
        .fullscreen-bg {
        background-color: #30393A;
        }
    
        .fullscreen-bg-video {
        display: none;
        }
    }/* Max-Width Media Query */

/*====================Container Section====================*/
.container-fluid {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    max-height: 100%;
    max-width: 100%;
}/* Container-Fluid */

/*====================Navigation====================*/
.navbar {
    background-color: #A26CCC;
}/* Navigation Color */
#navLogo {
    max-height: 30px;
    max-width: 30px;
}/* Navigation Logo */
.navbar .navbar-toggler{
    background-color: #30393A;
    background-color: transparent;
    border: none;
    outline: none;
}/* Navbar Toggler */
.navbar .navbar-toggler-icon{
    background-color: #A26CCC; /* Changes toggle color on hover */
}/* Navbar Toggler Icon */



/*====================Header====================*/
