                /* ==================== */
/*====================TEST TEST TEST====================*/

/*====================Universals====================*/
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
/* ::-webkit-scrollbar-thumb {
    background: #FF0000;
} */
.ghettoScroll {
    background: none;
    border: none;
}


/*====================Body====================*/
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -100;
}/* Body Background */
.fullscreen-bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}/* Background Video */
    @media (min-aspect-ratio: 16/9) {
        .fullscreen-bg-video {
        height: 300%;
        top: -100%;
        }
    }/* Aspect Ratio Media Query */
    
    @media (max-aspect-ratio: 16/9) {
        .fullscreen-bg-video {
        width: 300%;
        left: -100%;
        }
    }/* Aspect Ratio Media Query */
    @media (max-width: 767px) {
        .fullscreen-bg {
        background-color: #30393A;
        }
    
        .fullscreen-bg-video {
        display: none;
        }
    }/* Max-Width Media Query */

/*====================Container Section====================*/
.container-fluid {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    max-height: 100%;
    max-width: 100%;
}/* Container-Fluid */

/*====================Navigation====================*/
.navbar {
    background-color: #A26CCC;
    opacity: 0.8;
}/* Navigation Color */
#navLogo {
    max-height: 30px;
    max-width: 30px;
}/* Navigation Logo */
.navbar .navbar-toggler{
    background-color: #30393A;
    background-color: transparent;
    border: none;
    outline: none;
}/* Navbar Toggler */
.navbar .navbar-toggler-icon{
    background-color: #A26CCC;
}/* Navbar Toggler Icon */


/*========================================Cards========================================*/

/*====================Header====================*/
#headerCard {
    margin: 0 auto;
    float: none;
    height: 750px;
    width: 750px;
    background-color: #30393A;
    /* opacity: 0.8; */
    border: none;
    background: none;
}
#headerCardBody {
    color: black;
}
#headerCardBody h1 {
    font-size: 70px;
}
#headerCardBody p {
    font-size: 30px;
    color: black;
}
#headerCardBody #signInBtn {
    background-color: #A26CCC;
    color: black;
    opacity: 0.8;
    border: none;
    outline: none;
    max-width: 175px;
    max-height: 40px;
}
#headerLogo {
    max-height: 225px;
    max-width: 225px;
    margin-bottom: 30px;
    align-self: center;
}
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}
